#Unity
/Library/
/Packages/
/Temp/

#Android
/AndroidProject/.idea/
/AndroidProject/.gradle/
/AndroidProject/build/
/AndroidProject/build.gradle
/AndroidProject/local.properties
/AndroidProject/*.iml


